# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database information
database.env

# Virtual environment
myenv/

# Folders
data/
logs/

# DS_Store
.DS_Store

# Pylint
.pylintrc

# VS Code
.vscode/

# Streamlit
.streamlit
